body {
    font-size: 16px;
}

.wrapper {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    max-width: 2000px;
}

header {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;

    margin-bottom: 100px;
}

.navmenu {
    display: flex;
}

.navmenu-item {
    list-style: none;
    padding-right: 100px;
}

.navmenu-link {
    text-decoration: none;
    color: #000;
}

.first-block {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-bottom: 150px;
}

.first-block__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 600px;
}

.first-block__btn-buy {
    width: 100px;
    height: 25px;
}

.first-block__image {
    width: 30%;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 150px;
}

.features__images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 50%;
}

.features__img {
    padding: 10px;
}

.happy-customers {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 150px;
}

.happy-customers__images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 50%;
}

.happy-customers__img {
    padding: 10px;
}

.dead-simple-pricing {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 50px;
}

.dead-simple-pricing__cards {
    display: flex;
    flex-direction: row;
}

.dead-simple-pricing__card {
    border: solid 1px;
    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 200px;
    padding: 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    width: 100%;

    border-top: solid 1px;
    border-bottom: solid 1px;
    padding: 30px 0;
}

.item__list {
    margin: 0;
    padding: 0;
}

.list__item {
    list-style: none;

    padding-bottom: 15px;
}

.cop {
    display: flex;
    justify-content: center;

    margin-top: 20px;
    margin-bottom: 50px;
}
